@mixin icon($filename) {
  mask-image: url("/assets/icons/#{$filename}");
}

[class$="Icon"] {
  display: block;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: black
}

.linkIcon {
  width: 28px;
  height: 28px;
}
.closeIcon {
  @include icon("close.svg");
}
