<div class="row filter">
  <div class="leftSide">
    <div class="actionButtons">
      <div class="filter">
        <i class="filteringIcon"></i>
        Filter
      </div>
    </div>
    <div class="productRange">
      Showing 1–16 of {{totalResultsNumber | async}} results
    </div>
  </div>
  <div class="rightSide">
    <div class="input">
      <div class="label">Show</div>
      <form>
        <mat-select (valueChange)="onProductRangeChange()" [(value)]="pRangeSelected"
                    [ngClass]="{'mat-select': true, 'productRange': true, 'changed': pRangeChanged}"
                    name="productRange">
          <mat-option *ngFor="let pRange of productRange" [value]="pRange">
            {{pRange}}
          </mat-option>
        </mat-select>
      </form>

    </div>
  </div>
</div>
<div class="row productlist">
  <div class="rightSide">
    <product-list [data]=data [quantity]=pRangeSelected></product-list>
  </div>

</div>
